{% extends "admin/change_form.html" %}
{% block after_related_objects %}
    <h2>Questions and Choices</h2>
    {% for question in entity_questions %}
        <p>
            {{ question }} 
        <p>
        <div><strong>{{ question.question_text }}</strong></div>
        <ul>
        {% for choice in question.choices.all %}
            <li>{{ choice.choice_text }} - Votes: {{ choice.votes }}</li>
        {% endfor %}
    </ul>
{% endfor %}

    <h2>Free Text Responses</h2>
    {% for response in free_text_responses %}
        <p><strong>{{ response.question.question_text }}:</strong> {{ response.response_text }}</p>
    {% endfor %}
{% endblock %}